/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'League Spartan', sans-serif;
}

:root {
    /* background color */
    --bg-white: #E3E6F3;
    --bg-dark: #000;
    --primary-color: #1a1a1a;
    --secondary-color: #088178;
    --primary-text: #222;
    --secondary-text: #465b52;
    --red-text: #ec544e;
    --border-color: #cce7d0;
    --primary-font: 'League Spartan', sans-serif;
}

body,
html {
    width: 100%;
    color: var(--primary-text);
    font-size: 12px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}

embed,
iframe,
img,
object {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--primary-text);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: var(--primary-text);
}

h4 {
    font-size: 20px;
    line-height: 24px;
    color: var(--primary-text);
}

h6 {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary-text);
    margin: 15px 0px 20px 0px;
}

a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: none;
}

.section-p {
    padding: 40px 80px;
}

.section-m {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: var(--bg-dark);
    background-color: var(--bg-white);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: var(--bg-white);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--bg-white);
    outline: none;
    transition: 0.2s ease;
}

/* Header Start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: var(--bg-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--secondary-color);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--secondary-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */
#hero {
    background-image: url(/images/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1 {
    color: var(--secondary-color);
}

#hero h4 {
    padding-bottom: 15px;
}

#hero button {
    background-image: url(/images/button.png);
    background-color: transparent;
    color: var(--secondary-color);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 13%;
    min-width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid var(--bg-white);
    border-radius: 4px;
    margin: 15px 0px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: var(--secondary-color);
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    margin: 15px 0px;
    padding: 10px 12px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0px;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: var(--primary-color);
    font-size: 14px;
}

#product1 .pro .des .star {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: var(--secondary-color);
}

#product1 .pro a i {
    font-size: 15px;
}

#product1 .pro .cart {
    padding: 10px;
    width: 25px;
    height: 25px;
    line-height: 30px;
    border-radius: 50px;
    background-color: #E8f6ea;
    font-weight: 500;
    color: var(--secondary-color);
    border: 1px solid var(--border-color);
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/images/banner/b2.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: var(--bg-white);
    font-size: 30px;
}

#banner h2 {
    color: var(--bg-white);
    font-size: 30px;
    padding: 10px 0px;
}

#banner h2 span {
    color: var(--red-text);
}

#banner .normal:hover {
    color: var(--bg-white);
    background-color: var(--secondary-color);
}

#ads-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#ads-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/images/banner/b17.jpg);
    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 50px;
}

#ads-banner .box1 {
    background-image: url(/images/banner/b10.jpg);
}

#ads-banner h4 {
    color: var(--bg-white);
    font-size: 24px;
    font-weight: 300;
}

#ads-banner h2 {
    color: var(--primary-text);
    font-size: 32px;
    font-weight: 800;
}

#ads-banner span {
    color: var(--bg-white);
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

#ads-banner .banner-box:hover button {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

#ads-banner .banner-box1:hover button {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

#ev-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#ev-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/images/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin-bottom: 20px;
}

#ev-banner .box1 {
    background-image: url(/images/banner/b4.jpg);
}

#ev-banner .box2 {
    background-image: url(/images/banner/b18.jpg);
}

#ev-banner h2 {
    color: var(--bg-white);
    font-weight: 900;
    font-size: 22px;
}

#ev-banner h3 {
    color: var(--red-text);
    font-weight: 900;
    font-size: 22px;
}

#newsletter {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;

}

#newsletter h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--bg-white);
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary-color);
}

#newsletter p span {
    color: var(--red-text);
}

#newsletter .form {
    display: flex;
    width: 25%;
}

#newsletter input {
    padding: 15px 30px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#newsletter button {
    color: var(--bg-white);
    background-color: var(--secondary-color);
    white-space: nowrap;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 80px;
}

#footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#footer .logo {
    margin-bottom: 30px;
}

#footer .col h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

#footer .col p {
    font-size: 14px;
    margin: 0 0 8px 0;
}

#footer .col a {
    font-size: 14px;
    text-decoration: none;
    color: var(--primary-text);
    margin-bottom: 10px;
    transition: 0.2s ease;
}

#footer .follow {
    margin: 10px 0px 0px 0px;
}

#footer .follow .icon {
    font-size: 16px;
    color: var(--secondary-text);
    margin-top: -10px;
    padding-right: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

#footer .col a:hover,
#footer .follow .icon:hover {
    color: var(--secondary-color);
}

#footer .install .row img {
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
}

#footer .install img {
    margin: 10px 0px 15px 0px;
}

footer .copyright {
    text-align: center;
    color: var(--secondary-color);
}